iframe {
    height: 280px;
    width: 370px;
}

a{
    color: #55aeae;
}

a:hover {
    color: #a6ff00;
    text-shadow: 2px 2px #000000;
}

#footer-address,
.phone,
.text,
.email {
    margin: 0px;
}

#rogue-athletic-site { 
height: 300px;
width: 370px;
}


/* 
==============================================
==============================================
==============================================
==============================================
==============================================
  E                    N                   D
==============================================
==============================================
==============================================
==============================================
==============================================
*/